Django==5.2.6
djangorestframework
django-cors-headers
gunicorn
whitenoise
joblib
scikit-learn
pandas
numpy
dj-database-url
psycopg2-binary
tldextract
requests
nltk
lightgbm
beautifulsoup4
python-whois
google-auth
google-auth-oauthlib
google-api-python-client
google-generativeai
